@model IEnumerable<string>

<div class="col-md-2">
    <div class="panel panel-primary">
        <div class="panel-heading">Catégories</div>

        <div class="panel-body">
            <ul class="nav navbar-nav">
                @foreach (string categorie in Model)
                {
                    <li>
                        <a class="categorie">@categorie</a>
                    </li>
                }

            </ul>

        </div>
    </div>
</div>
