@model HassanShop.Front.Models.ProductViewModel
@using HassanShop.Front.Helper

<div class="jumbotron">
    <h1>Hassan Shop</h1>
</div>
<div class="container">
    <div class="row">
        @Html.ActionLink("New Product", "AddProduct", "Home", null, new { @class = "btn btn-Primary" })
    </div>
    <div class=" row">
        @Html.Partial("~/Views/Home/Partials/_CategorieView.cshtml", Model.CategorieList)
        @Html.Partial("~/Views/Home/Partials/_DisplayProductList.cshtml", Model)
        @*<div class=" row">
            <div class="col-md-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">Catégories</div>

                    <div class="panel-body">
                        <ul>
                            @foreach (string categorie in Model.CategorieList)
                            {
                                <li>
                                    <a href="/Home/index?categorie=@categorie">@categorie</a>
                                </li>
                            }

                        </ul>

                    </div>
                </div>
            </div>*@

    </div>
</div>

@section Scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        $('.categorie').click(function () {

            this.parentElement.classList.add("activehg");

            $.ajax({
                url: '/Home/DisplayProductList?CategoryName=' + this.innerHTML,
                timeout: 4000,
                success: function (data) {
                   
                    $('#productsDiv').html( data);
                }


            });
        });

        


    });
</script>
}






